.whoops {
  font-size: 80px;
}
.home-page {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}
.rod-page {
  background: #0f4c5f url("/images/rod-bg.png") center top repeat-x;
  padding: 30px 0;
}
.logo {
  max-width: 400px;
  height: 288px;
  margin: 0 auto 20px;
  background: transparent url("/images/logo.png") center bottom no-repeat;
  background-size: contain;
}
.title {
  text-align: center;
  margin: 0 0 30px;
  h1 {
    font-family: $title;
    font-size: 50px;
    line-height: 1;
    color: #222;
    margin: 0 0 10px;
  }
  h2 {
    font-family: $title;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 12px;
  }
}
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: rgba(white, .8);
  @include round(10px);
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  @include above-width($mobile) {
    padding: 40px;
  }
}
.signup-container {
  margin: 0 0 30px;
  text-align: center;
}
.signup-button {
  padding: 20px 30px;
  background: #3da4b1;
  color: white;
  font-family: $title;
  font-size: 24px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  @include round(10px);
  &:hover {
    background: lighten(#3da4b1, 10%);
    color: rgba(white, .75);
  }
}
.winner {
  i {
    color: #f2be30;
  }
}

.external-button {
  @include round(4px);
  color: white;
  text-decoration: none;
  line-height: 1;
  margin: 0 0 30px;
  font-family: $title;
  font-size: 18px;
  display: block;
  padding: 20px 0;
  @include above-width($mobile) {
    display: inline-block;
    font-size: 24px;
    padding: 15px 30px;
  }
  &:hover {
    color: white;
    opacity: .5;
  }
}
.internal-button {
  background: #3da4b1;
}
.twitch-button {
  background: #6441a4;
}
.youtube-button {
  background: #cc181e;
}

.bingo-card {
  background: transparent url("/images/bingo.png") center center no-repeat;
  background-size: contain;
  width: 410px;
  height: 360px;
  @include flex-row-at(0);
  @include flex-wrap;
  .bingo-tile {
    width: 20%;
    height: 72px;
    cursor: pointer;
  }
  .state-gray {
    background: #eee;
  }
  .state-red {
    background: red;
  }
  .state-green {
    background: green;
  }
}