<!doctype html>
<html lang="en" ng-app="deejumbles">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Isaac Bingo</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Varela+Round&effect=emboss' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/angular.js"></script>
  <script src="/js/script.js"></script>
</head>
<body ng-controller="Main" class="bingo-page">
  <div class="container">
    <div class="flex-row-all">
      <div class="bingo-card" ng-repeat="card in cards">
        <div class="bingo-tile" ng-repeat="tile in card" ng-class="bingoTileClasses(tile)"></div>
        <div class="bingo-screen">
          <div class="bingo-button" ng-repeat="tile in card" ng-click="toggleTile(tile)"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>